@using NonFactors.Mvc.Grid
@using Leaf.Web.Controllers
@using Leaf.Web.ViewModel
@model TaskViewModel
@{
    ViewData["Title"] = "Task";
}

<div>
    <div style="infoFrame">
        <h4>@Model.Task.IdProjNavigation.ClientNavigation.Nom</h4>
    </div>
    <div style="infoFrame">
        <h4>Projet: @Model.Task.IdProjNavigation.Nom</h4>
    </div>
</div>

<div>
    <h3 class="subTitle">Tâche: @Model.Nom</h3>
    <br />
    <!--TODO ajouter la description dès qu'elle est ajoutée dans la base de donnée pour une tâche-->

</div>


<div>
    <h4>Affecté à: @Model.Task.Collab.Prenom @Model.Task.Collab.Nom (@Model.Task.Collab.Identifiant)</h4>
    @switch (Model.Statut)
    {
        case ClientListViewModel.StatutEnum.Admin:
        case ClientListViewModel.StatutEnum.SuperAdmin:
            <input type="button" onclick="location.href='@Url.Action("ClientCreation", "Clients", null)'" value="Mettre à jour la tâche" />
            break;
        case ClientListViewModel.StatutEnum.ChefDeProjet:
            if (@Model.IsProjectManager)
            {
                <input type="button" onclick="location.href='@Url.Action("ClientCreation", "Clients", null)'" value="Mettre à jour tâche" />
            }
            break;
        case ClientListViewModel.StatutEnum.Collaborateur:
            if (@Model.IsTaskResponsible)
            {
                <input type="button" onclick="location.href='@Url.Action("ClientCreation", "Clients", null)'" value="Mettre à jour la tâche" />
            }
            break;
        default:
            break;
    }

</div>

<div>
    <br />
    <p>Charge estimée: @Model.ChargeEstimee</p>
    <br />
    <p>Charge consommée: TO BE ADDED TO DATABASE</p>
    <br />
    <p>Charge estimée restante: TO BE ADDED TO DATABASE </p>
    <br />
    <p>Avancement: @Model.Progres</p>
    <br />
</div>




