@model ProjectViewModel
@{
    ViewData["Title"] = Model.Project.Nom;
}

<h2>Projet:  @Model.Project.Nom</h2>

@switch (Model.Statut)
{
    case ProjectsViewModel.StatutEnum.Admin:
    case ProjectsViewModel.StatutEnum.SuperAdmin:
    case ProjectsViewModel.StatutEnum.ChefDeProjet:
        if (Model.IsProjectManager)
        {
            <input type="button" onclick="location.href='@Url.Action("ProjectModification", "Projects", null)'" value="Modifier ce projet" />
        }
        break;
    case ProjectsViewModel.StatutEnum.Collaborateur:
    default:
        break;
}

<div>
    Responsable du projet: @Model.Project.ResponsableNavigation.Nom
    <br />
    Client du projet: @Model.Project.ClientNavigation.Compagnie
    <br />
    <br />
    Date de début du projet: @Model.Project.Debut
    <br />
    Date de fin de  projet: @Model.Project.Echeance
    <br />
    <br />
</div>

