@model ProjectViewModel
@{
    ViewData["Title"] = "Modificationdu projet";
}

<div>
    <h2 style="text-align:center">Modifier le projet @Model.ProjectName </h2>
</div>

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Projects" asp-action="SaveProjectModification" asp-route-id="@Model.Project.Id" method="post">
            <h4>Compagnie: </h4>
            <hr />
            <div asp-validation-summary="All" class="=" text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectName"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate"></label>
                @Html.TextBoxFor(m => m.StartDate, String.Format("{0:d}", DateTime.Today.ToShortDateString()),
                new { @class = "form-control", type = "date" })
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate"></label>
                @Html.TextBoxFor(m => m.EndDate, String.Format("{0:d}", DateTime.Today.ToShortDateString()),
                new { @class = "form-control", type = "date", value = Model.EndDate })
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProjectLeader"></label>
                <!--<input asp-for="ProjectLeader" class="form-control" />-->
                @Html.DropDownListFor(m => m.ProjectLeader, Model.ListCollabro)
                <span asp-validation-for="ProjectLeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectClient"></label>
                @Html.DropDownListFor(m => m.ProjectClient, Model.ListClient)
                <span asp-validation-for="ProjectClient" class="text-danger"></span>
            </div>
            <!--
                <div>
                    @Html.TextBoxFor(m => m.StartDate, String.Format("{0:d}", DateTime.Today.ToShortDateString()),
                        new { @class = "datefield", type = "date" }) @*// This will make every input element with the type "date" into a DatePicker element*@
                </div>
            -->
            <button type="submit" class="btn btn-default">Ajouter le client</button>
            <input type="button" value="Annuler" class="btn btn-default cancel" onclick="location.href='@Url.Action("ClientList", "Clients", null)'" />
        </form>

    </div>

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}