@model ClientViewModel
@{
    ViewData["Title"] = Model.client.Compagnie;
}

<div>
    <h2>Client : @Model.client.Compagnie</h2>
</div>


<div>
        @switch (Model.Statut)
        {
            case ClientListViewModel.StatutEnum.Admin:
            case ClientListViewModel.StatutEnum.SuperAdmin:
            case ClientListViewModel.StatutEnum.ChefDeProjet:
                <input type="button" onclick="location.href='@Url.Action("ClientModification", "Clients", new { id = Model.client.Id })'" value="Modifier un client" />
                break;
            case ClientListViewModel.StatutEnum.Collaborateur:
            default:
                break;
        }
</div>
<div>
    <h3>Information sur le client:</h3>
    <br/>
    <br/>
    @Model.client.Adresse
    <br/>
</div>

<div>
    <h3>Contact client:</h3>
    <br/>
    <br/>
    @Model.client.Nom
    <br />
    @Model.client.Mail
    <br />
    @Model.client.Telephone
    <br />
</div>

